entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]
run = ["npm",'run', "dev"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm",'run', "dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

