modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]
run = "npm run dev"
#run = ["npm",'run', "start"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

