.dropdown-area {
   position: absolute;
   z-index: 10;


  background: #FCFCFC;
  padding-top:4px;
  padding-bottom:4px;

 }

.small-dropdown{
   width:168px;
}
.large-dropdown{
  width:100%;
}

.menu-top{
  top: 48px;
  left:4px;
}

.menu-bottom{
  bottom: 48px;
  left:4px;
}

.selected-tool {
  color:#3587FF;
}

.selected-tool path {
   fill:#3587FF;
}

.dropdown-button{
  display:flex;
  flex-direction:row;
  height:44px;
  width:100%;
  padding-left:12px;
  align-items:center;
  gap: 16px;
}
.dropdown-button > p{
  font-size:12px;
}

/* undo & redo icon color*/
.history-disabled path {
  fill: #e2e2e2;
}