.dropdown-area {
   position: absolute;
   z-index: 10;
   width:168px;

  background: #FCFCFC;
  padding-top:4px;
  padding-bottom:4px;

 }

.menu-top{
  top: 48px;
  left:4px;
}

.menu-bottom{
  bottom: 48px;
  left:4px;
}

.selected-tool {
  color:#3587FF;
}

.selected-tool path {
   fill:#3587FF;
}

.dropdown-button{
  display:flex;
  flex-direction:row;
  height:44px;
  width:100%;
  padding-left:12px;
  align-items:center;
  gap: 16px;
}
.dropdown-button > p{
  font-size:12px;
}