@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:#DCE5F2;
}

html, body{
  height:100%;
}

.paint-layout{
  height:100%;
}


.grab-region{
  /* pointer-events : none; */
  /* background: rgba(255, 0, 0, 0.5); */
}

.mask-canvas {
  position: absolute;
  z-index: 3;
}


/* .mask-canvas {
  left:300px;
}

.helper-layer canvas {
  left:600px !important;
} */