@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:#DCE5F2;
}

html, body{
  height:100%;
}

.paint-layout{
  height:100%;
}


.grab-region{
  /* pointer-events : none; */
  /* background: rgba(255, 0, 0, 0.5); */
}

.mask-layer {
  position: absolute;
  z-index: 3;
}
.mask-layer > canvas {
  /* Fix helper layer canvas going off the main canvas when main canvas is vertically thin */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* .helper-layer canvas {
  left:300px;
}

.helper-layer canvas {
  left:600px !important;
} */

.layer{
  position: absolute;
  left: 0;
  top: 0;
}